.foot{
  position:absolute;
    left:0px;
    bottom:-2305px;
    height:70px;
    width:100%;
    background:black;

}
.foter{
  color: grey;
  text-align: center;
  font-size: 10px;
  margin-top: 3rem;
  margin-left: 2rem;
}
.anchor{
  margin-left:26rem;
  color: white;
  margin-top: 0.5rem;
  position: absolute;
}

.anchor2{

  color: white;
    margin-top: 0.5rem;
      margin-left:34rem;
      position: absolute;

}

.anchor3{

  color: white;
    margin-top: 0.5rem;
    position: absolute;
        margin-left:41rem;

}


.anchor4{

  color: white;
    margin-top: 0.5rem;
    position: absolute;
        margin-left:47rem;

}
.topam{
  height:500px;
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  object-fit: contain;

}
.am1s{
  margin-left: -4rem;
  margin-top: -5rem;
}
.aboutme1{
  text-align: center;

  margin-top: -2rem;
  margin-left:-6rem;
}
.me1{
  margin-top: -5rem;
  margin-left:0rem;
}
.myp{
  color: white;
  text-align: left;
  margin-left: 2rem;
  padding-right: 5rem;
  position:absolute;
  margin-top: -1rem;
    font-family: 'Open Sans Condensed', sans-serif;

}
.foot1{
  position:absolute;
    left:0px;
    bottom:-250px;
    height:70px;
    width:100%;
    background:black;

}
.aboutme{
  padding-left: 630px;
padding-top: 40px;
}
a{
  color:#E4C5AF;
  padding-right: 20px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-left: 1rem;
}
.fa{
  padding-right: 4px;
}

.err{
  margin-top: 7rem;
  position: absolute;
  margin-left: 2rem;
}

.jjk{
  color: white;
  font-size: 17px;
  margin-top: 18rem;
  margin-left: 25rem;
}
